/* Tablette and Desktop S */
@media screen and (min-width: 730px) and (max-width: 1199px) {
  .card-template {
    max-width: 30rem;
  }

  /* NAVIGATION */
  .register {
    left: 87%;
  }

  /* SEARCH SECTION */

  .search-section {
    padding-bottom: 0rem;
  }

  .icone-info {
    padding-bottom: 0.2rem;
  }

  /* POPULAR */
  .template-2 {
    height: 30rem;
    background: white;
  }

  .popular-template h2 {
    padding: 0 0 2.5rem 2.5%;
  }

  .container-2 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .popular-container {
    flex-direction: column;
    margin: 0 1rem;
    height: 15rem;
  }

  .img-size-1 {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-style: solid solid none solid;
    border-width: 0.5rem;
    border-color: white;
    border-radius: 2.5rem 2.5rem 0 0;
  }

  .pop-content-text > h2 {
    padding-right: 1rem;
  }

  .popular-container p i {
    padding-top: 0.2rem;
  }

  .pop-content-text {
    padding: 0.5rem 1rem 1rem 2rem;
    box-shadow: 0px 4px 10px 1px rgb(0 0 0 / 5%);
    border-style: solid solid solid solid;
    border-radius: 0 0 2rem 2rem;
  }

  /* HOSTING */

  .template > h2 {
    padding: 0 0 0rem 2.5%;
    margin: 0 0 0 0;
  }

  .container-1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .hosting-container {
    margin: 2rem 0rem;
    width: 30%;
  }

  .link-margin {
    margin: 0.5rem 3.5%;
  }

  /* ACTIVITIES */
  .activities-section > h2 {
    margin-left: -1.5rem;
  }

  .container-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 5.5rem;
  }

  .desk-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .desk-sc-left {
    margin-right: 2.5rem;
  }

  .desk-sc-right {
    margin-left: 2.5rem;
  }

  .desk-large {
    width: 100%;
    max-width: 65.4rem;
  }

  /* FOOTER */
  .footer-container {
    display: flex;
  }

  .footer-content {
    margin-right: 4%;
    margin-left: 2%;
  }
}
