/* Desktop L */
@media screen and (min-width: 1200px) and (max-width: 2560px) {
  .template,
  .template-2 {
    margin: 0;
    padding: 4rem;
    border-radius: 2.5rem;
  }

  .background-grey {
    border-radius: 2.5rem;
  }

  .card-template {
    max-width: 30rem;
  }

  /* NAVIGATION */

  .container-nav {
    display: flex;
  }

  .nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .nav-img-size {
    position: relative;
    margin: 0;
    margin-top: 4rem;
    left: 80%;
  }

  .link {
    width: 15rem;
    height: 10rem;
  }

  .active {
    border-bottom: none;
    border-top: solid #0065fc;
  }
  .not-active {
    border-bottom: none;
    border-top: solid rgb(211, 211, 211, 0);
  }
  .active:hover,
  .not-active:hover {
    border-bottom: none;
    border-top: solid #0065fc;
  }

  .register {
    position: static;
    margin: 4.6rem 5rem;
    padding-bottom: 0;
  }

  /* SEARCH SECTION */
  .search-section {
    margin: 0 3%;
  }

  .flex-row-2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .flex-row-2 > h2 {
    margin-right: 2rem;
  }

  .search-bar {
    max-width: 35rem;
  }

  .button-right {
    position: static;
    border-radius: 0rem 1.6rem 1.6rem 0;
    width: 20rem;
    padding: 1rem;
    color: white;
  }

  .button-right::before {
    font-family: "Raleway", sans-serif;
    content: "Rechercher";
    color: white;
  }

  .filter-button {
    margin-right: 2rem;
  }

  .icone-info {
    padding-bottom: 0.2rem;
  }

  /* POPULAR AND HOSTING */
  .popular-and-hosting {
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  /* HOSTING */
  main {
    max-width: 60%;
    background: #f2f2f2;
  }
  @media only screen and (min-width: 2000px) {
    main {
      max-width: 49%;
    }
  }

  .template > h2 {
    margin: 0 0 0.5rem 3%;
  }

  .container-1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .hosting-container {
    width: 30%;
  }

  /* POPULAR */
  aside {
    padding: 50rem;
  }

  .popular-template h2 {
    padding: 0 0 0.5rem 0%;
  }

  .pop-content-text {
    padding: 1rem;
  }

  .link-margin {
    margin: 0.5rem 3%;
  }
  /* ACTIVITIES  */
  .activities-section > h2 {
    padding: 0 0 4rem 5.5%;
  }

  .container-3 {
    flex-direction: row;
    justify-content: space-evenly;
    height: 40rem;
  }

  .activities-content-text {
    padding: 1rem 0.5rem 1rem 1.5rem;
  }

  .desk-large {
    height: 100%;
    max-width: 28rem;
  }

  .desk-small {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
  }

  .desk-small-content {
    margin-bottom: 3.5rem;
  }

  .img-size-4 {
    height: 35.5rem;
  }

  .img-size-5 {
    height: 13rem;
  }

  /* FOOTER */
  footer {
    padding: 4rem 3vw;
  }

  .footer-container {
    display: flex;
  }

  .footer-content {
    margin-right: 10%;
    margin-left: 5%;
  }
}
