/* MAIN CONFIG */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* NAVIGATION TOP */
.nav {
  display: flex;
  flex-direction: column;
}

.nav-top-bar {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}

.register {
  display: flex;
  align-items: center;
  color: #0065fc;
  font-size: 1.6rem;
  font-weight: 800;
}

.nav img {
  max-width: 10rem;
}

/* NAVIGATION BOT */
.nav ul {
  display: flex;
  justify-content: center;
}

.nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 4.5rem;
}

.nav ul li:hover {
  box-shadow: 0 0.4rem 0 0 #0065fc;
}
/* ----- */
.nav ul li a:hover {
  background: #deebff;
}

/* ----- */
.not-active {
  box-shadow: 0 0.4rem 0 0 rgb(211, 211, 211, 0.5);
}
/* ----- */
.active {
  box-shadow: 0 0.4rem 0 0 #0065fc;
  color: #0065fc;
}

/* SEARCH SECTION */

.search-section {
  padding: 2.8rem 1.6rem;
}

.search-section h1,
.search-section h2 {
  margin: 1rem 0 1.6rem 0;
}

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
  left: 1.6rem;
  margin: 3rem 0;
}

.icon-left,
.button-right a {
  width: 4.8rem;
  height: 4.8rem;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-left {
  border-radius: 1rem 0 0 1rem;
}

.button-right a {
  height: 5rem;
  border-radius: 1.6rem;
  background: #0065fc;
  position: relative;
  bottom: 0.1rem;
  right: 1.6rem;
}

.button-right a i {
  color: white;
}

::placeholder {
  font-weight: 700;
  color: black;
  padding: 1rem;
  font-size: 1.6rem;
}

form input {
  height: 4.8rem;
  width: 23rem;
  border: none;
  border-style: solid none solid none;
  border-width: 0.1rem;
  border-color: #f2f2f2;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  margin: 0.8rem 0rem;
}

.filter-button p {
  padding: 1rem;
  padding-left: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #e0e0e0;
  border-radius: 0 2.4rem 2.4rem 0;
  font-weight: 700;
}

.filter-button p:hover {
  background: #0065fc;
  color: white;
}

.filter-button i {
  background: #deebff;
  color: #0065fc;
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 2.2rem;
}

.filter-text {
  display: flex;
  margin: 1.5rem 0.5rem;
}

.filter-text p {
  color: #494949;
  width: 38rem;
  font-weight: 500;
}

.filter-text i {
  color: #0065fc;
  width: 3rem;
  height: 2.4rem;
  font-size: 1.3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #d1d1d1d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* POPULAR AND HOSTING */

.popular-and-hosting {
  display: flex;
  flex-direction: column-reverse;
}

.shadow {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

/* HOSTING */

main {
  padding: 3rem;
}

main > h2 {
  margin: 2rem 0;
}

main > p {
  margin-top: 2rem;
  font-weight: 700;
}

.hosting-container {
  width: 31rem;
  background: white;
  border-radius: 2.5rem;
  margin: 1rem 0;
}

.img-size-2 {
  width: 31rem;
  height: 11rem;
  object-fit: cover;
  border-style: solid solid none solid;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 2.5rem 2.5rem 0 0;
}

.host-content-text {
  padding: 0.5rem 1rem 1rem 2rem;
}

.host-content-text h2 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.host-content-text p {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

/* POPULAR CONTENT */

aside {
  background: #f2f2f2;
  padding: 3rem;
}

aside > h2 {
  margin: 2rem 0;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.flex-row h2 {
  font-size: 2rem;
}

.flex-row p {
  font-size: 2.2rem;
}

.popular-container {
  display: flex;
  width: 31rem;
  height: 13rem;
  margin: 1rem 0;
  border-radius: 2.5rem;
}

.popular-container:hover {
  transform: scale(1.1);
}

.img-size-1 {
  width: 12rem;
  height: 13rem;
  object-fit: cover;
  border-style: solid none solid solid;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 15% 0 0 15%;
}

.pop-content-text {
  background: white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  width: 21.5rem;
  border-style: solid solid solid none;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 0 2rem 2rem 0;
}

.pop-content-text h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.pop-content-text p {
  font-size: 1.4rem;
}

.popular-container p i {
  padding-top: 3rem;
}

.star-blue {
  font-size: 1.2rem;
  color: #0065fc;
}

.star-grey {
  font-size: 1.2rem;
  color: #d3d3d3e7;
}

/* ACTIVITIES  */

.activities-section {
  padding: 3rem;
}

.activities-section > h2 {
  margin: 2rem 0;
}

.activities-container {
  border-radius: 2.5rem;
  width: 31rem;
  margin: 3rem 0;
}

.img-size-3 {
  width: 31rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 2.5rem 2.5rem 0 0;
}

.activities-content-text {
  padding: 1.5rem 1rem 1.5rem 2rem;
}

.activities-content-text p {
  font-weight: 800;
}

footer {
  background: #f2f2f2;
  width: 100vw;
  padding: 4rem 2.8rem;
}

footer ul {
  padding: 2rem 0;
}

footer ul li {
  padding: 0.5rem 0;
}
