/* MAIN CONFIG */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}
/* ----------------------------------- */
/* MAIN OBJECT AND OTHER */
.template {
  margin: 3rem 5vw;
}
.template-2 {
  padding: 3rem 5vw;
}

.bottom-margin {
  margin-bottom: 1rem;
}

.card-margin-tb {
  margin: 1.5rem 0;
}
.card-margin-lr {
  margin: 0 1.5rem;
}

.star-blue {
  font-size: 1.2rem;
  color: #0065fc;
}

.star-grey {
  font-size: 1.2rem;
  color: #d3d3d3e7;
}

.background-grey {
  background: #f2f2f2;
}

.icone-template {
  min-width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-template {
  background: white;
  width: 100%;
  max-width: 30rem;
  border-radius: 2.5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}
.card-template:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}
/* ----------------------------------- */
/* NAVIGATION */
.nav-img-size {
  max-width: 10rem;
  margin: 2rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 100%;
}
.link:hover {
  background: #deebff;
  color: #0065fc;
}

.active-link {
  color: #0065fc;
}

.not-active {
  border-bottom: solid rgb(211, 211, 211, 0.5);
}

.active {
  border-bottom: solid #0065fc;
}

.register {
  position: relative;
  bottom: 10rem;
  left: 75%;
  color: #0065fc;
  font-size: 1.6rem;
  font-weight: 800;
}
.register:hover {
  color: #5f9fff;
}
/* ----------------------------------- */
/* SEARCH SECTION  */
.search-section {
  padding-bottom: 5rem;
}

.search-bar {
  max-width: 35rem;
  display: flex;
  margin: 3rem 0;
}

.icon-left {
  border-radius: 1rem 0 0 1rem;
  background: #f2f2f2;
}

.button-right {
  height: 5rem;
  border-radius: 1.6rem;
  background: #0065fc;
  position: relative;
  right: 15%;
}
.button-right:hover {
  background: #5f9fff;
}
.button-right::before {
  content: "\f002";
  font-family: FontAwesome;
  color: white;
}

.icone-color {
  color: white;
}

form {
  width: 100%;
  display: flex;
}

form input {
  width: 100%;
  height: 4.8rem;
  border: none;
  border-radius: 0 1.6rem 1.6rem 0;
  border-style: solid none solid none;
  border-width: 0.1rem;
  border-color: #f2f2f2;
  position: relative;
}

::placeholder {
  font-weight: 600;
  opacity: 1;
  color: black;
  padding: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1.4rem;
}

.filter-title{
  font-size: 2rem;
  font-weight: 700;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  margin: 0.5rem 1rem 0.5rem -3rem;
}

.filter-button p > a {
  padding: 1rem 1.6rem;
  padding-left: 3.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 0.2rem;
  border-color: #e0e0e0;
  border-radius: 0 2.4rem 2.4rem 0;
  font-weight: 700;
}
.filter-button p > a:hover {
  background: #deebff;
}

.filter-button i {
  background: #deebff;
  color: #0065fc;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 3rem;
  bottom: 0.1rem;
}

.filter-text {
  display: flex;
  align-items: center;
  height: 6rem;
}
.icone-info{
  padding-bottom: 2rem;
}

.icone-info i {
  color: #0065fc;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  margin-right: 1.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #d1d1d1d7;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ----------------------------------- */
/* HOSTING AND POPULAR */
.popular-and-hosting {
  display: flex;
  flex-direction: column-reverse;
}
/* ----------------------------------- */
/* HOSTING */

.template > h2 {
  font-size: 1.9rem;
  margin: 1rem 7.5%;
}

.img-size-2 {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-style: solid solid none solid;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 2.5rem 2.5rem 0 0;
}

.host-content-text {
  padding: 0.5rem 1rem 1rem 2rem;
}

.host-content-text h2 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.host-content-text p {
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

.link-changes {
  font-weight: 700;
}
.link-changes:hover {
  color: #0065fc;
}
/* ----------------------------------- */
/* POPULAR */

.popular-template {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.popular-template h2 {
  font-size: 2rem;
  padding: 0 0 1.5rem 7%;
}

.popular-template p {
  font-size: 2.2rem;
}

.popular-container {
  display: flex;
  height: 13rem;
}

.img-size-1 {
  width: 12rem;
  object-fit: cover;
  border-style: solid none solid solid;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 15% 0 0 15%;
}

.pop-content-text {
  background: white;
  padding: 1rem 2rem;
  width: 100%;
  border-style: solid solid solid none;
  border-width: 0.5rem;
  border-color: white;
  border-radius: 2rem 2rem;
}

.link-margin {
  padding-top: 1.5rem;
  margin: 0.5rem 8%;
}

.pop-content-text h2 {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

.pop-content-text p {
  font-size: 1.2rem;
}

.popular-container p i {
  padding-top: 3rem;
}
/* ----------------------------------- */
/* ACTIVITIES */

.activities-section {
  margin: 4rem 0;
  padding: 1rem 0%;
}

.activities-section > h2 {
  padding: 0 0 1.5rem 10%;
}

.img-size-3 {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 2.5rem 2.5rem 0 0;
}

.activities-content-text {
  padding: 1.5rem 1rem 1.5rem 2rem;
}

.desk-small{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.activities-content-text p {
  font-weight: 800;
}
/* ----------------------------------- */
/* FOOTER */

footer {
  background: #f2f2f2;
  padding: 2rem 1.5rem;
}

.footer-content{
  padding: 1.5rem 0;
}

footer ul,
footer ul li{
  padding: 0.5rem 0;
}

footer ul li a:hover {
  color: #0065fc;
}
